body {
    /* font-family: 'Oswald', sans-serif; */
    margin: 0;
    padding: 0;
    /* height: 5000px; */
    background-color:  #ffd494;
}

.orange-background {
    background-color: #ea842b;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.navbar-brand:hover {
    color: #3e3734c6; 
}

.nav-link {
    margin-left: 20px;
    color: black;
    
}

.nav-link:hover {
    color: #3e3734c6; 
}


.div-with-background {
    margin-top: 74px;
    background-image: url('../images/main_image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px; 
    width: 100%;
    overflow: hidden;

}





.centered-carousel {

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%; 
    max-width: 600px; 
}

.carousel-inner img {
    width: 70%;     
    max-height: 600px; 
    object-fit: cover; 
}

.div-content {
    position: relative;
    /* font-family: "Roboto"; */
    background-color: #ffd494;
    height: 500px; 
    width: 100%;
}


@media (min-width: 850px) {
    .h-content {
        position: absolute; 
        top: 30%; left: 50%; 
        transform: translate(-50%, -50%);
        font-size: 36px; 
    }
    .ul-content {
        position: absolute; 
        top: 45%; left: 50%; 
        transform: translate(-50%, -50%);
    }
    .text-content {
        font-size: 18px;
        font-weight: bold;
        color: black;
    }
}

@media (max-width: 849px) {
    .h-content {
        position: absolute; 
        top: 30%; left: 50%; 
        transform: translate(-50%, -50%);
        font-size: 24px; 
    }
    .ul-content {
        position: absolute; 
        top: 50%; left: 50%; 
        transform: translate(-50%, -50%);
    }
    .text-content {
        font-size: 15px;
        font-weight: bold;
        color: black;
    }
}

.site-footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-size: 16px;
    position: relative;
    bottom: 0;
    width: 100%;
}