<header>
    <nav class="navbar fixed-top navbar-expand-lg orange-background">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-camera-reels" viewBox="0 0 20 20">
                    <path d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM1 3a2 2 0 1 0 4 0 2 2 0 0 0-4 0z"/>
                    <path d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7zm6 8.73V7.27l-3.5 1.555v4.35l3.5 1.556zM1 8v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1z"/>
                    <path d="M9 6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM7 3a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                </svg>
                Kino-help
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Лучшие фильмы
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/top-k">Топ Кинопоиска</a></li>
                            <li><a class="dropdown-item" href="/top-i">Топ IMDB</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/help-film">Помоги выбрать</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/random">Не знаю чего хочу</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            О нас
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/about">История</a></li>
                            <li><a class="dropdown-item" href="/target">Цель</a></li>
                            <li><a class="dropdown-item" href="/stat">Статистика</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Контакты
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/contact">Обратная связь</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>